<div class="note">
  <div class="explain">
    <p>Chú thích</p>
    <div class="star">
      <span>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <span class="text">: Chưa bao giờ đúng</span>
      </span>
  
    </div>
    <div class="star">
      <span>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <span>: Chỉ đúng trong một vài trường hợp</span>
      </span>
  
    </div>
    <div class="star">
      <span>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <span>: Đúng một nửa</span>
      </span>
  
    </div>
    <div class="star">
      <span>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <span>: Đúng hầu hết trong mọi trường hợp</span>
      </span>
  
    </div>
    <div class="star">
      <span>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <i style="color:#f62 ;" class="fa fa-star"></i>
        <span>: Hoàn toàn đúng</span>
      </span>
  
    </div>
  </div>
</div>
