<div class="container mt-3" >
  <div class="col-8">
    <div id="qestions" *ngFor="let item of questions; index as i">
      <div [id]="i">
        <div class="content">
          <span class="no">{{i+1}}.</span>
          
          <span class="name-question">{{item.name}}</span>
        </div> <br> 
        <div class="score">
          <app-rating [id]="i" (rating)="getDataEmit($event)"></app-rating>
        </div>
      </div>
    </div>
  </div>
</div>



<button (click)="getTotalSocre()">test</button>